:root {
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: rgb(206,208,212);
    background: -moz-radial-gradient(circle, rgba(206,208,212,1) 0%, rgba(184,192,204,1) 46%, rgba(205,215,231,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(206,208,212,1) 0%, rgba(184,192,204,1) 46%, rgba(205,215,231,1) 100%);
    background: radial-gradient(circle, rgba(206,208,212,1) 0%, rgba(184,192,204,1) 46%, rgba(205,215,231,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ced0d4",endColorstr="#cdd7e7",GradientType=1);
}

button {
    font-weight: 500;
    font-size: 32px;
    border: 0;
    border-radius: 10px;
    transition: 10ms;
    border: 1px solid rgb(197, 197, 197);
    background-color: rgb(219, 219, 219);
    max-height: 100%;
}

.container {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.calculator-body {
    width: 600px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr) 0.5fr;
    grid-template-areas: 
        "display . . ."
        "seven eight nine divide" 
        "four five six multiply"
        "one two three subtract"
        "zero decimal clear add"
        "equals . . . ";
    grid-gap: 1rem;
    align-content: center;
    padding: 20px;
    border: 5px solid rgba(150, 150, 150, 0.308);
    border-bottom: 7px solid rgba(150, 150, 150, 0.308);
    border-top: 3px solid rgba(150, 150, 150, 0.308);
    border-radius: 20px;
    background-color: rgb(207, 207, 207);
    font-size: 1rem;
}

.operator {
    background-color: rgb(196, 196, 196);
    font-weight: 600;
}

.hints {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    margin: 10px auto;
}

.display {
    grid-area: display;
    grid-column: 1 / 5;
    display: flex;
    justify-content: center;
    max-height: 100%;
    background: rgb(112,127,148);
    background: -moz-radial-gradient(circle, rgba(112,127,148,1) 0%, rgba(85,101,122,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(112,127,148,1) 0%, rgba(85,101,122,1) 100%);
    background: radial-gradient(circle, rgba(112,127,148,1) 0%, rgba(85,101,122,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#707f94",endColorstr="#55657a",GradientType=1);
    color: white;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 6px;
}

#displayContent {
    align-self: center;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.01rem;
}

#keyboard-hint {
    font-size: 0.5rem;
}

/* Grid positioning for all buttons */
#zero {grid-area: zero;}
#one {grid-area: one;}
#two {grid-area: two;}
#three {grid-area: three;}
#four {grid-area: four;}
#five {grid-area: five;}
#six {grid-area: six;}
#seven {grid-area: seven;}
#eight {grid-area: eight;}
#nine {grid-area: nine;}
#add {grid-area: add;}
#subtract {grid-area: subtract;}
#multiply {grid-area: multiply;}
#divide {grid-area: divide;}
#decimal {grid-area: decimal;}

#equals {
    grid-area: equals;
    grid-column: 1/5;
    background-color: rgb(196, 196, 196);
}

#clear {
    grid-area: clear;
    background-color: rgb(196, 196, 196);
    color: rgb(156, 28, 28);
}

.number:hover,
#decimal:hover {
    background-color: rgb(190, 190, 190);
}

#add:hover,
#subtract:hover,
#multiply:hover,
#divide:hover,
#clear:hover,
#equals:hover {
    background-color: rgb(124, 124, 124);
}

button:focus {
    outline: none;
    border: 2px solid rgb(214, 214, 214);
}

@media (max-width: 700px) {
    .container {
        margin-top: 30px;
        height: 500px;
    }
    .calculator-body {
        width: 400px;
        height: 500px;
    }
    :root {
        font-size: 20px;
    }
    #displayContent {
        font-size: 20px;
    }
}
